.options {
    margin: 0 auto;
    width: 100%;
}

.myvideo, .uservideo {
    text-align: center;
    width: fit-content;
    border: 2px solid red;
}

video {
    width: 40vw;
}

.box {
    padding-top: 1rem;
    display: flex;
    width: 100vw;
}
.options {
    width: 50vw;
    justify-content: center;
}

input {
    margin-right: 4rem;
}