.main {
    text-align: center;
}

.options {
    margin: 0 auto;
    width: 100%;
}

.myvideo, .uservideo {
    text-align: center;
    width: fit-content;
    border: 2px solid red;
}

video {
    width: 40vw;
}

.box {
    padding-top: 1rem;
    display: flex;
    width: 100vw;
}
.options {
    width: 50vw;
    justify-content: center;
}


/* Android media queries */
@media screen and (min-device-width: 0px) and (max-device-width: 768px) { 
    .box {
        flex-direction: column;
    }
    .options {
        width: 100vw;
    }
}