@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.main {
    text-align: center;
    height:100vh;
}
#title {
    padding: 1rem 0rem;
    border-bottom: 1px solid blue;
    background-color: rgb(184, 195, 255);
    color: black;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.videos{
    display: flex;
    /* width: 100vw; */
    flex-wrap: wrap;
    justify-content: center;
}

.videos p {
    text-align: left;
    margin-left: 1vw;
    margin-bottom: 0rem;
}

video{
    width:45vw;
    margin: 0rem 0.5rem;
    border: 2px solid black;
    /* height: 50vh; */
}
.options {
    margin: 0 auto;
    width: 100%;
}

.button {
    margin: 1rem 2rem;
    padding: 0.4rem 1rem;
}

.mute-button{
    margin: 0rem 2rem;
    padding: 0.4rem 1rem;
}
/* Android media queries */
@media screen and (min-device-width: 0px) and (max-device-width: 768px) { 
    .videos{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    video{
        width: 100vw;
    }
}